@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700;300&family=Montserrat:wght@900&display=swap");
/* .App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .virtual-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
} */
.keyboard {
  height: 200px;
  margin: 0 8px;
  user-select: none;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.key {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #818384;
  color: #ffffff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.key:hover {
  background-color: #ddd;
}
